<nav class="navbar navbar-inverse"  > 
  <div class="container-fluid">
      
        <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:8080/#!/Home">Home</a></li>
         <form class="navbar-form navbar-left">
     
      
    </form>
        <li ><a href="http://127.0.0.1:8080/#!/library">Library</a>
        </li>
        <li><a href="http://127.0.0.1:8080/#!/Friends">Friends</a></li>
        </ul>
        
 <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
            <li><a href="#">Login</a></li>
        </ul>
       
    </div>
</nav>

<style>
body  {
    background-image: url("/app/library.jpg");
    background-size: 100%, 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
</style>
