

<div ng-repeat="book in books">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12"><h3>{{ book.title }}</h3><hr> </div>
            <div  class="col-xs-12"> <img ng-src="{{book.image}}"></div>
            <div  class="col-xs-8">{{book.authors}}</div>
            <div id="div2" class="col-xs-8">{{book.description}}</div>
            <!--<div id="div2" class="col-xs-8">{{book.comment}}</div>-->
            <form class="form-inline" role="form">
           
           

            
            <div class="form-group">
        <label>Comment</label>
<div class="comment-box-inner"> 
    <p>{{book.comment}}</p>  
 </div>

  
</div>

        <input type="text" class="form-control" placeholder="Comment"  ng-model="input"/>
    </div>
          
            <div class="text-center">
        <button class="btn btn-default" ng-click="submitComment(input, book.id)">Add Comment</button>
         <button class="btn btn-default" ng-click="BookClub(book)">Post</button> 
        <button class="btn btn-default" ng-click="deleteBook(book.id)">Remove</button>   
    </div>
        </form>
                    
        </div>
    </div>
</div>

          
            
        </form>
                    
        </div>
    </div>
</div>


  <style>
body  {
    background-image: url("/app/library.jpg");
    background-size: 100%, 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}



</style>