<nav class="navbar navbar-inverse"  ng-controller="controllerUser"> 
  <div class="container-fluid">
      
        <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:8080/#!/Home">Home</a></li>
         <form class="navbar-form navbar-left">
     
      
    </form>
        <li ><a href="http://127.0.0.1:8080/#!/library">Library</a>
        </li>
        <li><a href="http://127.0.0.1:8080/#!/Friends">Book Club</a></li>
        </ul>
        
 <ul class="nav navbar-nav navbar-right">
       <li ><a href="http://127.0.0.1:8080/#!/User">Sign In</a>
       
     
        </ul>
       
    </div>
</nav>


